relaxNG/norton_relaxNG-3/bookerBallad.rnc

datatypes xsd = "http://www.w3.org/2001/XMLSchema-datatypes"

start = page
page = element page {(layer | content)*}
layer = element layer {marks, anyElement*}
anyElement = element * {(attribute * {text})*, mixed{anyElement*}}
# There is no consistent post-layer rule I can define with anyElement, but I'll keep it here as experiment
marks = attribute marks {"typed" | "signature" | "stamp"}
head = element head {title?, author*}
title = element title {mixed{u*}}
author = element author {mixed{u*}}

datePattern = (xsd:date | xsd:gYearMonth | xsd:gYear)

content = element content {layer+}
poem = element poem {stanza+}
stanza = element stanza {stanzaCount, (layer | ln)*}
stanzaCount = attribute stanzaCount {xsd:integer}
ln = element ln {syl, mixed{(prd | cma | cln | emd | u | shape | place | sigFig)*}}
syl = attribute syl {xsd:integer}
prd = element prd {empty}
cma = element cma {empty}
cln = element cln {empty}
emd = element emd {empty}
u = element u {text}

shape = element shape {boundry, des, point, mixed{anyElement*}}
boundry = attribute boundry {text}
des = attribute des {text}
point = attribute point {text}

place = element place {plName, city, state, mixed{u*}}
plName = attribute plName {text}
city = attribute city {text}
state = attribute state {text}

sigFig = element sigFig {name, occupation, mixed{u*}}
name = attribute name {text}
occupation = attribute occupation {text}
closing = element closing {(layer | shape | draftVer | date)*}
draftVer = element draftVer {mixed{u*}}
date = element date {when, mixed{u*}}
when = attribute when {datePattern}